.toad{
    position: absolute;
    display: flex;
    align-items: first baseline;
    
}
.cereja{
    background-color:var(--primary-hover);

}
.tva{
    size-adjust:4rem;
}
h1{
    text-emphasis-color:var(--text-primary) ;
}