
.toad{
    position: absolute;
    display: flex;
    align-items: first baseline;
    
}
.cereja{
    background-color:#153b2f;

}
.tva{
    size-adjust:4rem;
}
h1{
    text-emphasis-color:#fff ;
}